@charset "UTF-8";
body {
    margin: 0px;
    background-image: url("timg.jpg");
    background-repeat: no-repeat;
    width: 1080px;
}

nav {
    float: left;
    width: 920px;
    height: 40px;
    background-color: #4caf50;
    margin: 100px 0 0 0;
    padding: 0;
}

nav ul {
    float: left;
    margin: 0px;
    padding: 0 0 0 0;
    width: 920px;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    float: left;
    padding: 11px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background: cadetblue center right no-repeat;
    color: #fff;
    font-family: Tahoma, serif;
    outline: none;
}

nav li a:hover {
    color: #2a5f00;
}